#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c > #backgroundBox {
  background-color: #060D17;
  position: absolute;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Path_63 {
  position: absolute;
  width: 24.459980010986328px;
  height: 26.426769256591797px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Path_54 {
  position: absolute;
  width: 22.781269073486328px;
  height: 21.416019439697266px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 input::-webkit-input-placeholder {
  color: #A6A6A6;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 input::-moz-placeholder {
  color: #A6A6A6;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 input:-moz-placeholder {
  color: #A6A6A6;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 input:-ms-input-placeholder {
  color: #A6A6A6;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 {
  position: absolute;
  width: 323.6571712544135px;
  height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 .valign {
  vertical-align: middle;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #EFEFF2;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Path_123 {
  position: absolute;
  width: 16.76076889038086px;
  height: 16.91897964477539px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Path_113 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Subtraction_4 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 {
  position: absolute;
  width: 434.8984375px;
  min-height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_3 {
  position: absolute;
  width: 129.79687500000006px;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_3 span {
  color: #A6A6A6;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #A6A6A6;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 {
  position: absolute;
  width: 322.65716552734386px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #060D17;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_1 {
  position: absolute;
  width: 218.0000000000001px;
  height: 119.64843749999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 {
  position: absolute;
  width: 233.65716552734386px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #060D17;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_4 {
  position: absolute;
  width: 180.0390625px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_6 {
  position: absolute;
  width: 46.689453125px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 {
  position: absolute;
  width: 220.0px;
  min-height: 30.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #2D2D2D;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_2 {
  position: absolute;
  width: 14.965820312500483px;
  height: 14.965820312500512px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_2 > .borderLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_11 {
  position: absolute;
  width: 25.45997905731201px;
  height: 26.83881771199296px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c #s-Image_3 {
  position: absolute;
  width: 21.796874999999886px;
  height: 21.796875000000057px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1a30748e-9a76-4cf1-bdf2-985bfb3fd10c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}