#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 > #backgroundBox {
  background-color: #060D17;
  position: absolute;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Path_63 {
  position: absolute;
  width: 24.459980010986328px;
  height: 26.426769256591797px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Path_54 {
  position: absolute;
  width: 22.781269073486328px;
  height: 21.416019439697266px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 {
  position: absolute;
  width: 323.6571712544135px;
  height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 .valign {
  vertical-align: middle;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #EFEFF2;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Path_123 {
  position: absolute;
  width: 16.76076889038086px;
  height: 16.91897964477539px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Path_113 {
  position: absolute;
  width: 12.0px;
  height: 17.269668579101562px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Subtraction_4 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_2 span {
  color: #A6A6A6;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #A6A6A6;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 {
  position: absolute;
  width: 114.97658157348593px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #191919;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 {
  position: absolute;
  width: 115.47658157348638px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #191919;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 {
  position: absolute;
  width: 116.47658157348627px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #191919;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_3 span {
  color: #A6A6A6;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #A6A6A6;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 {
  position: absolute;
  width: 333.6231789478036px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #060D17;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_3 {
  position: absolute;
  width: 225.409074339797px;
  height: 119.64843749999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 {
  position: absolute;
  width: 241.5983733687122px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #060D17;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_9 {
  position: absolute;
  width: 48.2762679373284px;
  min-height: 17.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 {
  position: absolute;
  width: 242.15029778468892px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #2D2D2D;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_4 {
  position: absolute;
  width: 16.4726265693825px;
  height: 14.965820312500625px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_4 > .borderLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_9 {
  position: absolute;
  width: 23.000000000000057px;
  height: 23.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_10 {
  position: absolute;
  width: 27.000000000000057px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_11 {
  position: absolute;
  width: 20.440473540112748px;
  height: 23.645378510575426px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 #s-Image_12 {
  position: absolute;
  width: 19.55952645988765px;
  height: 21.438095438537403px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-21b9eed9-5da1-4714-b2a4-b6595b4c2354 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}